/bin/
/target/
/apidoc/
/*.iml
/*.ipr
/.idea
.classpath
.project
/src/main/resources/c3p0.properties
/src/main/resources/config.properties
/src/test/resources/c3p0-config.xml
/src/test/resources/config.properties

/templates/web-spring-boot-wd/
/smither-parent/smither-parent.iml
