bin/
target/
/apidoc/
*.iml
*.ipr
.idea/
.classpath
.project
.DS_Store
/src/main/resources/c3p0.properties
/src/main/resources/config.properties
/src/test/resources/c3p0-config.xml
/src/test/resources/config.properties

src/test/resources/*.properties
*/src/test/resources/*.properties
*/src/test/***/*

/templates/web-spring-boot-wd/
/templates/web-spring-boot-traveler/
/templates/web-spring-boot-midaier/
/templates/his-templates/
/templates/auto-*/
/templates/temp-*/
/templates-temp/
/smither-parent/smither-parent.iml
