<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/mvc
   		  http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    
    <!-- 扫描注解Bean -->
    <context:component-scan base-package="${packagename}"/>
    
    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射,解决@ResponseBody乱码问题, 需要在annotation-driven之前,否则乱码问题同样无法解决 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
    <mvc:annotation-driven />
    <!-- 使用默认的Servlet来响应静态文件 否则不能正常访问js、css -->
	<mvc:default-servlet-handler />
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="contentType" value="text/html"/>
        <property name="prefix" value="/views/"/>
        <property name="suffix" value=".jsp"/>
	</bean>

    <!-- 开启AOP监听 只对当前配置文件有效 -->
	<aop:aspectj-autoproxy expose-proxy="true"/>
	
    <!-- 开启AOP切面日志 -->
    <bean id="loggingaspect"
        class="${packagename}.aspect.LoggingAspect"></bean>
    <aop:config>
        <!-- 切入点配置 -->
        <aop:pointcut expression="execution(* ${packagename}.controller.*.*(..))" id="ptc-controller"/>
        <aop:pointcut expression="execution(* ${packagename}.service.*.*(..))" id="ptc-service"/>
        <aop:pointcut expression="execution(* ${packagename}.dao.*.*(..))" id="ptc-dao"/>
        <!-- 日志切面 -->
        <aop:aspect ref="loggingaspect">
            <aop:before method="before" pointcut-ref="ptc-controller"/>
            <!-- <aop:after method="after" pointcut-ref="ptc-controller"/> -->
            <aop:after-returning method="returned" pointcut-ref="ptc-controller" returning="result"/>
            <aop:after-throwing method="throwed" pointcut-ref="ptc-controller" throwing="ex"/>
            
            <aop:before method="before" pointcut-ref="ptc-service"/>
            <!-- <aop:after method="after" pointcut-ref="ptc-service"/> -->
            <aop:after-returning method="returned" pointcut-ref="ptc-service" returning="result"/>
            <aop:after-throwing method="throwed" pointcut-ref="ptc-service" throwing="ex"/>
            
            <aop:before method="before" pointcut-ref="ptc-dao"/>
            <!-- <aop:after method="after" pointcut-ref="ptc-dao"/> -->
            <aop:after-returning method="returned" pointcut-ref="ptc-dao" returning="result"/>
            <aop:after-throwing method="throwed" pointcut-ref="ptc-dao" throwing="ex"/>

		</aop:aspect>
    </aop:config>

</beans>
