<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>数据字典 SimpleCrm</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container"><h1 style="text-align:center;">数据字典 SimpleCrm</h1>

        <h3><b>表</b> : <span>admin</span> = 管理员表</h3>
        <table class="table table-hover table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th>字段名</th>
                <th>数据类型</th>
                <th>列长</th>
                <th>默认值</th>
                <th>非空</th>
                <th>自动递增</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>id</td>
                    <td>INT</td>
                    <td>10</td>
                    <td></td>
                    <td>是</td>
                    <td>自增</td>
                    <td>主键自增ID</td>
                </tr>
                <tr>
                    <td>username</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>用户名</td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>密码（密文）</td>
                </tr>
                <tr>
                    <td>nickname</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>昵称</td>
                </tr>
                <tr>
                    <td>is_super</td>
                    <td>BIT</td>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>是否是超级管理员</td>
                </tr>
                <tr>
                    <td>status</td>
                    <td>BIT</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>状态</td>
                </tr>
                <tr>
                    <td>ontid</td>
                    <td>VARCHAR</td>
                    <td>64</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>区块链识别ID</td>
                </tr>
                <tr>
                    <td>ont_image</td>
                    <td>VARCHAR</td>
                    <td>255</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>ontid二维码图片地址</td>
                </tr>
                <tr>
                    <td>delete_flag</td>
                    <td>BIT</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>删除标记</td>
                </tr>
                <tr>
                    <td>create_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>创建时间</td>
                </tr>
                <tr>
                    <td>update_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>更新时间</td>
                </tr>
            </tbody>
        </table>
        <h3><b>表</b> : <span>land</span> = 地块信息表</h3>
        <table class="table table-hover table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th>字段名</th>
                <th>数据类型</th>
                <th>列长</th>
                <th>默认值</th>
                <th>非空</th>
                <th>自动递增</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>id</td>
                    <td>INT</td>
                    <td>10</td>
                    <td></td>
                    <td>是</td>
                    <td>自增</td>
                    <td>主键自增ID</td>
                </tr>
                <tr>
                    <td>ontid</td>
                    <td>VARCHAR</td>
                    <td>64</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>区块链识别ID</td>
                </tr>
                <tr>
                    <td>ont_image</td>
                    <td>VARCHAR</td>
                    <td>255</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>ontid二维码图片地址</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>名称</td>
                </tr>
                <tr>
                    <td>area</td>
                    <td>FLOAT</td>
                    <td>12</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>面积（平方米）</td>
                </tr>
                <tr>
                    <td>number</td>
                    <td>VARCHAR</td>
                    <td>64</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>地块编号</td>
                </tr>
                <tr>
                    <td>address</td>
                    <td>VARCHAR</td>
                    <td>64</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>地址信息</td>
                </tr>
                <tr>
                    <td>other</td>
                    <td>TEXT</td>
                    <td>65,535</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>other</td>
                </tr>
                <tr>
                    <td>delete_flag</td>
                    <td>BIT</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>删除标记</td>
                </tr>
                <tr>
                    <td>create_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>创建时间</td>
                </tr>
                <tr>
                    <td>update_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>更新时间</td>
                </tr>
            </tbody>
        </table>
        <h3><b>表</b> : <span>land_operate</span> = 地块操作记录表</h3>
        <table class="table table-hover table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th>字段名</th>
                <th>数据类型</th>
                <th>列长</th>
                <th>默认值</th>
                <th>非空</th>
                <th>自动递增</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>id</td>
                    <td>INT</td>
                    <td>10</td>
                    <td></td>
                    <td>是</td>
                    <td>自增</td>
                    <td>主键自增ID</td>
                </tr>
                <tr>
                    <td>land_id</td>
                    <td>INT</td>
                    <td>10</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>地块id</td>
                </tr>
                <tr>
                    <td>user_id</td>
                    <td>INT</td>
                    <td>10</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>操作人员ID</td>
                </tr>
                <tr>
                    <td>operate</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>操作事项</td>
                </tr>
                <tr>
                    <td>delete_flag</td>
                    <td>BIT</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>删除标记</td>
                </tr>
                <tr>
                    <td>ont_hash</td>
                    <td>VARCHAR</td>
                    <td>255</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>存证hash</td>
                </tr>
                <tr>
                    <td>remark</td>
                    <td>VARCHAR</td>
                    <td>255</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>备注</td>
                </tr>
                <tr>
                    <td>other</td>
                    <td>TEXT</td>
                    <td>65,535</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>其他</td>
                </tr>
                <tr>
                    <td>create_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>创建时间</td>
                </tr>
                <tr>
                    <td>update_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>更新时间</td>
                </tr>
            </tbody>
        </table>
        <h3><b>表</b> : <span>payroll</span> = 工资记录表</h3>
        <table class="table table-hover table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th>字段名</th>
                <th>数据类型</th>
                <th>列长</th>
                <th>默认值</th>
                <th>非空</th>
                <th>自动递增</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>id</td>
                    <td>INT</td>
                    <td>10</td>
                    <td></td>
                    <td>是</td>
                    <td>自增</td>
                    <td>主键自增ID</td>
                </tr>
                <tr>
                    <td>user_id</td>
                    <td>INT</td>
                    <td>10</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>操作人员ID</td>
                </tr>
                <tr>
                    <td>ont_hash</td>
                    <td>VARCHAR</td>
                    <td>255</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>存证hash</td>
                </tr>
                <tr>
                    <td>other</td>
                    <td>TEXT</td>
                    <td>65,535</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>其他</td>
                </tr>
                <tr>
                    <td>work_time</td>
                    <td>FLOAT</td>
                    <td>12</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>工作时长(小时)</td>
                </tr>
                <tr>
                    <td>wage</td>
                    <td>DECIMAL</td>
                    <td>10</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>工资(元)</td>
                </tr>
                <tr>
                    <td>remark</td>
                    <td>VARCHAR</td>
                    <td>255</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>备注</td>
                </tr>
                <tr>
                    <td>delete_flag</td>
                    <td>BIT</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>删除标记</td>
                </tr>
                <tr>
                    <td>create_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>创建时间</td>
                </tr>
                <tr>
                    <td>update_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>更新时间</td>
                </tr>
            </tbody>
        </table>
        <h3><b>表</b> : <span>user</span> = 员工基本信息表</h3>
        <table class="table table-hover table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th>字段名</th>
                <th>数据类型</th>
                <th>列长</th>
                <th>默认值</th>
                <th>非空</th>
                <th>自动递增</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>id</td>
                    <td>INT</td>
                    <td>10</td>
                    <td></td>
                    <td>是</td>
                    <td>自增</td>
                    <td>主键自增ID</td>
                </tr>
                <tr>
                    <td>username</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>用户名</td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>密码（密文）</td>
                </tr>
                <tr>
                    <td>nickname</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>昵称</td>
                </tr>
                <tr>
                    <td>status</td>
                    <td>BIT</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>状态</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>姓名</td>
                </tr>
                <tr>
                    <td>phone</td>
                    <td>VARCHAR</td>
                    <td>16</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>电话号码</td>
                </tr>
                <tr>
                    <td>id_number</td>
                    <td>VARCHAR</td>
                    <td>32</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>身份证号码</td>
                </tr>
                <tr>
                    <td>address</td>
                    <td>VARCHAR</td>
                    <td>64</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>地址信息</td>
                </tr>
                <tr>
                    <td>ontid</td>
                    <td>VARCHAR</td>
                    <td>64</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>区块链识别ID</td>
                </tr>
                <tr>
                    <td>ont_image</td>
                    <td>VARCHAR</td>
                    <td>255</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>ontid二维码图片地址</td>
                </tr>
                <tr>
                    <td>other</td>
                    <td>TEXT</td>
                    <td>65,535</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>其他</td>
                </tr>
                <tr>
                    <td>delete_flag</td>
                    <td>BIT</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>删除标记</td>
                </tr>
                <tr>
                    <td>create_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>创建时间</td>
                </tr>
                <tr>
                    <td>update_time</td>
                    <td>DATETIME</td>
                    <td>19</td>
                    <td></td>
                    <td>是</td>
                    <td></td>
                    <td>更新时间</td>
                </tr>
            </tbody>
        </table>

</div>
</body>
</html>