.apiswitch {
    margin-bottom: 14px;
    background: #fff
}

.apiswitch span {
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
    margin-left: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 16px
}

.apiswitch .switchtov1 {
    display: inline-block;
    margin-left: 10px;
    padding: 3px 18px 2px;
    color: #03a9f4;
    border: 1px solid #03a9f4;
    border-radius: 10px 0 0 10px
}

.apiswitch .switchtov2 {
    display: inline-block;
    margin-left: -5px;
    padding: 3px 18px 2px;
    color: #03a9f4;
    border: 1px solid #03a9f4;
    border-radius: 0 10px 10px 0
}

.apiswitch .active {
    color: #fff;
    background: #03a9f4
}

.apiswitch .version {
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
    margin-left: 10px;
    line-height: 20px;
    text-decoration: underline;
    color: #03a9f4
}

nav.apileft {
    z-index: 2;
    position: fixed;
    float: left;
    width: 200px;
    padding: 0;
    background-color: #fafafa;
    color: #333333
}

nav.apileft h2 {
    text-align: left;
    font-size: 14px
}

nav.apileft h2:first-child {
    border-top: none
}

nav.apileft h2 a {
    display: inline-block;
    width: 100%;
    padding-left: 50px;
    line-height: 40px;
    box-sizing: border-box;
    background-color: #eeeeee;
}

nav.apileft h2 a:hover {
    background-color: #fafafa;
    color: #333333
}

nav.apileft h2 a .active {
    background-color: #3286c1;
    color: #fff
}

nav.apileft .sub-nav {
    display: none;
    font-size: 12px
}

nav.apileft .sub-nav a {
    padding-left: 70px
}

nav.apileft .sub-nav a:hover {
    color: #3286c1;
    background-color: #fafafa
}

nav.apileft .active {
    background-color: #3286c1;
    color: #fff;
    font-size: 15px
}

.main {
    max-width: 1440px;
    min-width: 960px;
    margin: 14px auto;
    position: relative
}

.main .content {
    margin-left: 200px;
    background: #fff;
    padding: 0 10px 0 10px
}

.main .page-title {
    line-height: 50px;
    font-size: 16px;
    color: #333;
    margin-left: 10px;
    padding-left: 20px;
    background-color: #fafafa
}

.main .doc {
    line-height: 30px;
    padding-left: 20px;
    color: #666
}
.main .doc h3 {
    margin-top: 25px;
    font-size: 16px;
    color: #000;
    font-weight: bold
}

.main .doc p {
    padding-left: 25px
}

.main .doc .subp {
    padding-left: 22px
}

.main .doc a {
    color: #465cb9
}

.main .doc a:hover {
    text-decoration: underline
}

.main .doc span.black {
    color: #000
}

.main .doc code {
    background-color: #fef9bd;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 25px;
    padding: 10px;
    display: block;
    font-family: Monaco, "Courier New", monospace
}

.main .doc p.info {
    background-color: #def0ff;
    color: #515151;
    margin-left: 25px;
    margin-top: 10px;
    padding-left: 10px
}

.main .doc p.sendp {
    color: #000;
    font-size: 16px
}

.main .doc .can {
    padding-left: 25px
}

.main .doc .can table {
    width: 100%
}

.main .doc .can th {
    padding: 0 20px;
    border: 1px solid #ECECEC;
    background-color: #ECECEC;
    text-align: left
}

.main .doc .can td {
    border: 1px solid #ECECEC;
    padding: 10px 20px;
    text-align: left;
    word-break: break-all
}

#aboutus .who {
    text-align: center
}

#aboutus .who p {
    text-align: left;
    text-indent: 2em;
    color: #666;
    line-height: 30px;
    padding: 10px 15%
}

#aboutus .come {
    background: #eee;
    text-align: center;
    margin-top: 30px;
    padding: 30px 0;
    line-height: 30px
}

#aboutus .come h2 {
    margin-bottom: 20px
}

#aboutus .come .want_staff {
    width: 22%;
    margin-right: 4%;
    float: left
}

#aboutus .come .want_staff:last-child {
    margin-right: 0
}

#aboutus .come .want_staff h3 {
    font-size: 16px;
    font-weight: bold
}

#aboutus .come .want_staff img {
    margin: 10px auto
}

#aboutus .come .want_staff p {
    margin-bottom: 10px;
    line-height: 20px
}

#aboutus .come .hire {
    display: inline-block;
    width: 175px;
    height: 43px;
    line-height: 43px;
    color: #fff;
    font-size: 16px;
    background: url(/static/images4/product/hrbg.png)
}

#aboutus .contact {
    color: #fff;
    height: 430px;
    line-height: 20px;
    background: url("/static/images4/product/address_bg.png") no-repeat center
}

#aboutus #location {
    width: 940px;
    padding: 65px 0;
    margin: 0 auto
}

#aboutus #map {
    float: left;
    width: 440px;
    height: 300px
}

#aboutus #contactInfo {
    width: 500px;
    padding: 34px 30px;
    margin-left: 440px
}

#aboutus #contactInfo .ma {
    display: inline-block;
    margin-top: 40px
}

#aboutus #contactInfo .title {
    font-size: 36px
}

#aboutus #contactInfo .erwei {
    float: left;
    padding-top: 40px
}

#aboutus #contactInfo .img {
    width: 91px;
    padding-top: 0
}

#demo #lanTab .active {
    color: #3286c1;
    background-color: rgba(250, 250, 250, 0)
}

#demo .divTab {
    margin: 20px 0 0 10px
}

#demo .divTab .page-title {
    margin-left: 0;
    margin-bottom: 10px
}

#demo .divTab .page-title span {
    color: #465cb9
}

#demo .doc {
    padding-left: 0
}

#demo .doc code {
    margin-left: 0
}

#demo .fuzhidaima {
    margin: 10px;
    padding: 14px 57px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #3399cc
}

#demo .fuzhitip {
    color: #39af75
}

#contributecode {
    color: #666;
    line-height: 30px
}

#contributecode h3 {
    margin-top: 25px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding-left: 20px
}

#contributecode .apiswitch {
    line-height: 14px
}

#policy .title {
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #333
}

#policy p {
    margin-bottom: 10px
}

#policy .pintent {
    text-indent: 2em
}

#policy .doc .first {
    margin-top: 20px;
    padding-left: 0;
    text-indent: 2em
}

#policy .doc .subp {
    padding-left: 60px
}

#policy .doc .company {
    text-align: right;
    margin-top: 20px
}