<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="main-footer sticky footer-type-1" th:fragment="Footer">

    <div class="footer-inner">

        <!-- Add your copyright text here -->
        <div class="footer-text">
            &copy; 2018
            <strong>Company</strong>
            <a href="http://www.home.com/" target="_blank" title="公司名称">公司名称</a> -
            Collect from
            <a href="http://www.home.com/" title="网页模板" target="_blank">Company</a>
        </div>

        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
        <div class="go-up">
            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>
        </div>
    </div>
</footer>
</body>
</html>