<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/app/manager/js/vue.min.js"></script>
</head>
<body>
<nav-bar th:fragment="nav-bar" >
    <nav id="nav-bar" class="navbar horizontal-menu navbar-fixed-top" role="navigation">
        <!-- set fixed position by adding class "navbar-fixed-top" -->
        <div class="navbar-inner">

            <!-- Navbar Brand -->
            <div class="navbar-brand">
                <a href="/app/manager/admin/index" class="logo">
                    <img src="/app/manager/assets/images/logo-white-bg@2x.png" width="80" alt="" class="hidden-xs" />
                    <img src="/app/manager/assets/images/logo@2x.png" width="80" alt="" class="visible-xs" />
                </a>
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="linecons-cog"></i>
                </a>
            </div>

            <!-- Mobile Toggles Links -->
            <div class="nav navbar-mobile">

                <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle">
                    <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                    <a href="#" data-toggle="settings-pane" data-animate="true">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="#" data-toggle="user-info-menu-horizontal">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">7</span>
                    </a>

                    <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
                    <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
                    <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
                    <a href="#" data-toggle="mobile-menu-horizontal">
                        <i class="fa-bars"></i>
                    </a>
                </div>

            </div>

            <div class="navbar-mobile-clear"></div>

            <!-- main menu -->
            <ul class="navbar-nav">
                <li>
                    <a href="javascript:void(0)">
                        <i class="el-th-list"></i>
                        <span class="title">菜单</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/app/manager/admin/audit">
                                <i class="linecons-key"></i>
                                <span class="title">实名认证</span>
                            </a>
                        </li>
                        <li>
                            <a href="/app/manager/admin/users">
                                <i class="linecons-user"></i>
                                <span class="title">用户管理</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>


            <!-- notifications and other links -->
            <ul class="nav nav-userinfo navbar-right">

                <li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->

                    <form method="get" action="#">
                        <input type="text" name="s" class="form-control search-field" placeholder="Type to search..." />

                        <button type="submit" class="btn btn-link">
                            <i class="linecons-search"></i>
                        </button>
                    </form>

                </li>

                <li class="dropdown user-profile">
                    <a href="#" data-toggle="dropdown">
                        <img src="/app/manager/assets/images/user-1.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                        <span>
							Arlind Nushi
							<i class="fa-angle-down"></i>
						</span>
                    </a>

                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <li class="last">
                            <a href="javascript:void(0)"  @click="logout()">
                                <i class="fa-lock"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <script>
            Vue.component('nav-bar', {
                template: $('#nav-bar').remove().prop('outerHTML'),
                data: function () {return{
                    image: 'image-image'
                }},
                methods: {
                    logout: function () {
                        show_loading_bar(70); // Fill progress bar to 70% (just a given value)
                        var ajax = new XMLHttpRequest();
                        ajax.open("POST", "/app/manager/api/v1/auth/logout");
                        ajax.send();
                        ajax.onload = function () {
                            show_loading_bar({
                                delay: 0.5,
                                pct: 100,
                                finish: function () {
                                    window.location.href="/app/manager/admin/login";
                                }
                            });
                        }
                    }
                }
            });
        </script>
    </nav>
</nav-bar>
</body>
</html>