<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<link rel="stylesheet" href="http://fonts.useso.com/css?family=Arimo:400,700,400italic">-->
    <link rel="stylesheet" href="../../static/app/manager/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/app/manager/assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/app/manager/assets/css/xenon-core.css">

    <!-- Imported stylesheet on this page -->
    <link rel="stylesheet" href="../../static/app/manager/assets/js/datatables/dataTables.bootstrap.css">

    <script src="../../static/app/manager/js/vue.min.js"></script>
    <script src="../../static/app/manager/assets/js/jquery-1.11.1.min.js"></script>
</head>
<body class="page-body">
    <div class="page-container" id="vue">
        <div class="main-content">
            <div class="page-title">
                <div class="title-env">
                    <h1 class="title">分页控件</h1>
                    <p class="description">上一页，下一页，页数跳转等等</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">效果演示</h3>

                            <div class="panel-options">
                                <a href="#">
                                    <i class="linecons-cog"></i>
                                </a>

                                <a href="#" data-toggle="panel">
                                    <span class="collapse-icon">&ndash;</span>
                                    <span class="expand-icon">+</span>
                                </a>

                                <a href="#" data-toggle="reload">
                                    <i class="fa-rotate-right"></i>
                                </a>

                                <a href="#" data-toggle="remove">
                                    &times;
                                </a>
                            </div>
                        </div>
                        <div class="panel-body dataTables_wrapper form-inline dt-bootstrap" th:with="auto=true,total='total',size='size',value='value'" >
                            <div class="row" th:fragment="pagination-bar">
                                <div class="col-xs-6">
                                    <div class="dataTables_info" role="status" aria-live="polite" v-text="'显示 '+ total + ' 条中的第 ' + startRow + ' 条到 ' + endRow + ' 条'">
                                        Showing 1 to 10 of 57 entries
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="dataTables_paginate paging_simple_numbers" style="display: flex">
                                        <ul class="pagination">
                                            <!--上一页按钮-->
                                            <li class="paginate_button previous" :class="{disabled:!_hasPrev()}" title="上一页"><a href="#" @click="_prev"><i class="fa-angle-left"></i></a></li>

                                            <!--第一页按钮-->
                                            <li class="paginate_button" v-if="showFirstPager" title="第一页"><a href="#" @click="_handleChange(1)" >1</a></li>

                                            <!--向前5页按钮-->
                                            <li class="paginate_button" v-if="showJumpPrev" title="向前5页"> <a href="#" @click="_jumpPrev"><i class="fa-ellipsis-h" style="color:#cccccc"></i></a> </li>

                                            <!--中间动态按钮-->
                                            <li class="paginate_button" v-for="index in pageList" :class="{active: current == index }" :title="index" ><a href="#" @click="_handleChange(index)" v-text="index">1</a></li>

                                            <!--向后5页按钮-->
                                            <li class="paginate_button" v-if="showJumpNext" title="向后5页"> <a href="#" @click="_jumpNext"><i class="fa-ellipsis-h" style="color:#cccccc"></i></a> </li>

                                            <!--最后一页按钮-->
                                            <li class="paginate_button" v-if="showLastPager" title="最后一页"><a href="#" @click="_handleChange(allPages)" v-text="allPages"></a></li>

                                            <!--下一页按钮-->
                                            <li class="paginate_button next" :class="{disabled:!_hasNext()}" title="下一页"><a href="#" @click="_next"><i class="fa-angle-right"></i></a></li>
                                        </ul>
                                        <div class="" style="margin: 2px 5px">
                                            <label style="margin-bottom: 0"> 跳至
                                                <input type="text" :value="current" class="form-control input-sm" @keyup="_handleKeyUp($event)" @change="_handleKeyUp" style="width: 35px"> 页
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" id="input-hidden-pagination-bar" th:attr="value='<pagination-bar :total=\''+${total}+'\' :size=\''+${size}+'\' :value=\''+${value}+'\'></pagination-bar>'"/>

                                <script th:if="${auto} == true">
                                    $('#input-hidden-pagination-bar').parent().before($('#input-hidden-pagination-bar').val());
                                </script>
                                <script>
                                    var hidden = $('#input-hidden-pagination-bar');
                                    var parent = hidden.parent();
                                    hidden.remove();
                                    Vue.component('pagination-bar', {
                                        template: parent.remove().prop('outerHTML'),
                                        props: {
                                            value: {
                                                type: Number,
                                                default: 1
                                            },
                                            total: {
                                                type: Number,
                                                default: 0
                                            },
                                            size: {
                                                type: Number,
                                                default: 10
                                            }
                                        },
                                        data: function () {
                                            return {
                                                current: this.value,
                                                currentPageSize: this.size
                                            }
                                        },
                                        watch: {
                                            current: function (val) {
                                                this.$emit('input', val);
                                                this.$emit('change', val);
                                            },
                                            value: function () {
                                                this.current = this.value;
                                            }
                                        },
                                        computed: {
                                            startRow: function(){
                                                return 1 + (this.current - 1) * this.currentPageSize;
                                            },
                                            endRow: function(){
                                                return this.current * this.currentPageSize;
                                            },
                                            allPages: function () {
                                                return Math.ceil(this.total / this.currentPageSize);
                                            },
                                            pageList() {
                                                var bigger = this.allPages <= 9;
                                                var pageList = [];
                                                var start = bigger ? 1 : this.pageLeft;
                                                var end = bigger ? this.allPages : this.pageRight;
                                                for (var i = start; i <= end; i++) {
                                                    pageList.push(i);
                                                }
                                                return pageList;
                                            },
                                            showJumpPrev() {
                                                return this.allPages > 9 && this.current - 1 >= 4;
                                            },
                                            showJumpNext() {
                                                return this.allPages > 9 && this.allPages - this.current >= 4;
                                            },
                                            showFirstPager() {
                                                return this.allPages > 9 && this.pageLeft !== 1;
                                            },
                                            showLastPager() {
                                                return this.allPages > 9 && this.pageRight !== this.allPages;
                                            },
                                            pageLeft() {
                                                var left = Math.max(1, this.current - 2);
                                                if (this.allPages - this.current <= 2) {
                                                    left = this.allPages - 4;
                                                }
                                                return left;
                                            },
                                            pageRight() {
                                                var right = Math.min(this.current + 2, this.allPages);
                                                if (this.current - 1 <= 2) {
                                                    right = 1 + 4;
                                                }
                                                return right;
                                            },
                                            pageTitle() {
                                                if (this.allPages) {
                                                    return this.current;
                                                }
                                                return this.current + '/' + this.allPages;
                                            }
                                        },
                                        methods: {
                                            _isValid(page) {
                                                return typeof page === 'number' && page >= 1 && page !== this.current;
                                            },
                                            _handleChange: function(page) {
                                                if (this._isValid(page)) {
                                                    if (this.total && page > this.allPages) {
                                                        page = this.allPages;
                                                    }
                                                    this.current = page;
                                                }
                                            },
                                            _prev() {
                                                if (this._hasPrev()) {
                                                    this._handleChange(this.current - 1);
                                                }
                                            },
                                            _next() {
                                                if (this._hasNext()) {
                                                    this._handleChange(this.current + 1);
                                                }
                                            },
                                            _jumpPrev() {
                                                this._handleChange(Math.max(1, this.current - 5));
                                            },
                                            _jumpNext() {
                                                this._handleChange(Math.min(this.allPages, this.current + 5));
                                            },
                                            _hasPrev() {
                                                return this.current > 1;
                                            },
                                            _hasNext() {
                                                return this.current < this.allPages;
                                            },
                                            _handleKeyUp(e) {
                                                var _val = e.target.value;
                                                var val;

                                                if (_val === '') {
                                                    val = _val;
                                                } else if (isNaN(Number(_val))) {
                                                    val = this.currentForSimple;
                                                } else {
                                                    val = Number(_val);
                                                }
                                                this.currentForSimple = val;
                                                if (e.keyCode === 13) {
                                                    this._handleChange(val);
                                                } else if (e.keyCode === 38) {
                                                    this._handleChange(val - 1);
                                                } else if (e.keyCode === 40) {
                                                    this._handleChange(val + 1);
                                                }
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<script>
    Vue.config.devtools = true;
    new Vue({
        el: '#vue',
        data: {
            total: 100,
            size: 5,
            value: 9
        }
    });
</script>
</html>