<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../../static/js/vue.min.js"></script>
    <script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<nav-bar th:fragment="nav-bar" >
    <nav id="nav-bar" class="navbar horizontal-menu navbar-fixed-top" role="navigation">
        <!-- set fixed position by adding class "navbar-fixed-top" -->
        <div class="navbar-inner">

            <!-- Navbar Brand -->
            <div class="navbar-brand">
                <a href="/admin/index" class="logo">
                    <img src="/assets/images/logo-white-bg@2x.png" width="80" alt="" class="hidden-xs" />
                    <img src="/assets/images/logo@2x.png" width="80" alt="" class="visible-xs" />
                </a>
                <a href="javascript:void(0)" data-toggle="settings-pane" data-animate="true">
                    <i class="linecons-cog"></i>
                </a>
            </div>

            <!-- Mobile Toggles Links -->
            <div class="nav navbar-mobile">

                <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle">
                    <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                    <a href="javascript:void(0)" data-toggle="settings-pane" data-animate="true">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="javascript:void(0)" data-toggle="user-info-menu-horizontal">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">7</span>
                    </a>

                    <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
                    <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
                    <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
                    <a href="javascript:void(0)" data-toggle="mobile-menu-horizontal">
                        <i class="fa-bars"></i>
                    </a>
                </div>

            </div>

            <div class="navbar-mobile-clear"></div>

            <!-- main menu -->
            <ul class="navbar-nav">
                <li>
                    <a href="javascript:void(0)">
                        <i class="el-th-list"></i>
                        <span class="title">菜单</span>
                    </a>
                    <ul>
                        <!--${table.remark}管理<#list tables as table>-->
                        <li>
                            <a href="/admin/manager/${table.urlPathName}">
                                <i class="linecons-key"></i>
                                <span class="title">${table.remark}</span>
                            </a>
                        </li>
                        <!--</#list>-->
                    </ul>
                </li>
            </ul>


            <!-- notifications and other links -->
            <ul class="nav nav-userinfo navbar-right">

                <li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->

                    <form method="get" action="javascript:void(0)">
                        <input type="text" name="s" class="form-control search-field" placeholder="Type to search..." />

                        <button type="submit" class="btn btn-link">
                            <i class="linecons-search"></i>
                        </button>
                    </form>

                </li>

                <li class="dropdown xs-left">

                    <a href="javascript:void(0)" data-toggle="dropdown" class="notification-icon">
                        <i class="fa-envelope-o"></i>
                        <span class="badge badge-green">15</span>
                    </a>

                    <ul class="dropdown-menu messages">
                        <li>

                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">

                                <li class="active"><!-- "active" class means message is unread -->
                                    <a href="javascript:void(0)">
									<span class="line">
										<strong>Luc Chartier</strong>
										<span class="light small">- yesterday</span>
									</span>

                                        <span class="line desc small">
										This ain’t our first item, it is the best of the rest.
									</span>
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="javascript:void(0)">
									<span class="line">
										<strong>Salma Nyberg</strong>
										<span class="light small">- 2 days ago</span>
									</span>

                                        <span class="line desc small">
										Oh he decisively impression attachment friendship so if everything.
									</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)">
									<span class="line">
										Hayden Cartwright
										<span class="light small">- a week ago</span>
									</span>

                                        <span class="line desc small">
										Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
									</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)">
									<span class="line">
										Sandra Eberhardt
										<span class="light small">- 16 days ago</span>
									</span>

                                        <span class="line desc small">
										On so attention necessary at by provision otherwise existence direction.
									</span>
                                    </a>
                                </li>

                                <!-- Repeated -->

                                <li class="active"><!-- "active" class means message is unread -->
                                    <a href="javascript:void(0)">
									<span class="line">
										<strong>Luc Chartier</strong>
										<span class="light small">- yesterday</span>
									</span>

                                        <span class="line desc small">
										This ain’t our first item, it is the best of the rest.
									</span>
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="javascript:void(0)">
									<span class="line">
										<strong>Salma Nyberg</strong>
										<span class="light small">- 2 days ago</span>
									</span>

                                        <span class="line desc small">
										Oh he decisively impression attachment friendship so if everything.
									</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)">
									<span class="line">
										Hayden Cartwright
										<span class="light small">- a week ago</span>
									</span>

                                        <span class="line desc small">
										Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
									</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0)">
									<span class="line">
										Sandra Eberhardt
										<span class="light small">- 16 days ago</span>
									</span>

                                        <span class="line desc small">
										On so attention necessary at by provision otherwise existence direction.
									</span>
                                    </a>
                                </li>

                            </ul>

                        </li>

                        <li class="external">
                            <a href="blank-sidebar.html">
                                <span>All Messages</span>
                                <i class="fa-link-ext"></i>
                            </a>
                        </li>
                    </ul>

                </li>

                <li class="dropdown xs-left">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="notification-icon notification-icon-messages">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-purple">7</span>
                    </a>

                    <ul class="dropdown-menu notifications">
                        <li class="top">
                            <p class="small">
                                <a href="javascript:void(0)" class="pull-right">Mark all Read</a>
                                You have <strong>3</strong> new notifications.
                            </p>
                        </li>

                        <li>
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="active notification-success">
                                    <a href="javascript:void(0)">
                                        <i class="fa-user"></i>

                                        <span class="line">
										<strong>New user registered</strong>
									</span>

                                        <span class="line small time">
										30 seconds ago
									</span>
                                    </a>
                                </li>

                                <li class="active notification-secondary">
                                    <a href="javascript:void(0)">
                                        <i class="fa-lock"></i>

                                        <span class="line">
										<strong>Privacy settings have been changed</strong>
									</span>

                                        <span class="line small time">
										3 hours ago
									</span>
                                    </a>
                                </li>

                                <li class="notification-primary">
                                    <a href="javascript:void(0)">
                                        <i class="fa-thumbs-up"></i>

                                        <span class="line">
										<strong>Someone special liked this</strong>
									</span>

                                        <span class="line small time">
										2 minutes ago
									</span>
                                    </a>
                                </li>

                                <li class="notification-danger">
                                    <a href="javascript:void(0)">
                                        <i class="fa-calendar"></i>

                                        <span class="line">
										John cancelled the event
									</span>

                                        <span class="line small time">
										9 hours ago
									</span>
                                    </a>
                                </li>

                                <li class="notification-info">
                                    <a href="javascript:void(0)">
                                        <i class="fa-database"></i>

                                        <span class="line">
										The server is status is stable
									</span>

                                        <span class="line small time">
										yesterday at 10:30am
									</span>
                                    </a>
                                </li>

                                <li class="notification-warning">
                                    <a href="javascript:void(0)">
                                        <i class="fa-envelope-o"></i>

                                        <span class="line">
										New comments waiting approval
									</span>

                                        <span class="line small time">
										last week
									</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="external">
                            <a href="javascript:void(0)">
                                <span>View all notifications</span>
                                <i class="fa-link-ext"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown user-profile">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <img src="/assets/images/user-1.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                        <span>
							Arlind Nushi
							<i class="fa-angle-down"></i>
						</span>
                    </a>

                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <li class="last">
                            <a href="javascript:void(0)"  @click="logout()">
                                <i class="fa-lock"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <script>
            Vue.component('nav-bar', {
                template: $('#nav-bar').remove().prop('outerHTML'),
                data: function () {return{
                    image: 'image-image'
                }},
                methods: {
                    logout: function () {
                        show_loading_bar(70); // Fill progress bar to 70% (just a given value)
                        var ajax = new XMLHttpRequest();
                        ajax.open("POST", "/api/v1/auth/logout");
                        ajax.send();
                        ajax.onload = function () {
                            show_loading_bar({
                                delay: 0.5,
                                pct: 100,
                                finish: function () {
                                    window.location.href="/admin/login";
                                }
                            });
                        }
                    }
                }
            });
        </script>
    </nav>
</nav-bar>
</body>
</html>