<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="component/frame :: head(~{::title},~{:: .head-link},~{:: .head-script})">

    <title>${projectName} - ${table.remark}管理</title>

    <!-- Imported styles on this page -->
    <link class="head-link" rel="stylesheet" th:href="@{/assets/css/fonts/elusive/css/elusive.css}">
    <link class="head-link" rel="stylesheet" th:href="@{/assets/js/datatables/dataTables.bootstrap.css}">
    <link class="head-link" rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Imported scripts on this page -->
    <script class="head-script" th:src="@{/js/vee-validate.js}"></script>
</head>
<style>
    input.input-super {
        display: none;
    }
    input.input-super + div {
        position: relative;
        vertical-align: middle;
        font-size: 12px;
        font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.42857143;

        background: #FFF;
        border: 1px solid #dddddd;
        width: 15px;
        height: 15px;
        content: '';
    }
    input[type='checkbox'].input-super:checked + div:after {
        position: absolute;
        width: 15px;
        height: 15px;
        content: '';
        background: url(/assets/images/ok.png) no-repeat center center;
    }
</style>
<body class="page-body">
<div id="vue" style="height: 100%">
    <div th:replace="component/setting :: setting-panel('scwang90')"></div>
    <nav th:replace="component/navbar :: nav-bar" ></nav>

    <div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

        <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
        <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
        <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->

        <div th:replace="component/sidebar :: side-bar"></div>

        <div id="users" class="main-content" >

            <div class="page-title">

                <div class="title-env">
                    <h1 class="title">${table.remark}管理</h1>
                    <p class="description">可以添加、删除、修改${table.remark}等等</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">${table.remark}列表</h3>

                            <div class="panel-options">
                                <a href="javascript:void(0)">
                                    <i class="linecons-cog"></i>
                                </a>

                                <a href="javascript:void(0)" data-toggle="panel">
                                    <span class="collapse-icon">&ndash;</span>
                                    <span class="expand-icon">+</span>
                                </a>

                                <a href="javascript:void(0)" data-toggle="reload">
                                    <i class="fa-rotate-right"></i>
                                </a>

                                <a href="javascript:void(0)" data-toggle="remove">
                                    &times;
                                </a>
                            </div>
                        </div>
                        <div class="panel-body dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-xs-6 btn-toolbar">
                                    <div class="btn-group focus-btn-group">
                                        <button class="btn btn-default" @click="modalAppend"><span class="fa-plus"></span> 添加</button>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="dataTables_filter" >
                                        <label style="padding-left: 5px">筛选：
                                            <div class="btn-group">
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="margin-bottom: 0">
                                                    列头 <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li class="checkbox-row" >
                                                        <div style="display: inline-block" >
                                                            <input type="checkbox" v-model="column._all_" class="input-super">
                                                            <div class="" @click="onColumnToggleClick('_all_')"></div>
                                                        </div>
                                                        <div style="float: right" @click="onColumnToggleClick('_all_')">全部</div>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li class="checkbox-row" >
                                                        <div style="display: inline-block" >
                                                            <input type="checkbox" v-model="column._index_" class="input-super">
                                                            <div class="" @click="onColumnToggleClick('_index_')"></div>
                                                        </div>
                                                        <div style="float: right" @click="onColumnToggleClick('_index_')">序号</div>
                                                    </li>
                                                    <li class="checkbox-row" v-for="(column,index) in columns">
                                                        <div style="display: inline-block" >
                                                            <input type="checkbox" v-model="column.show" class="input-super">
                                                            <div class="" @click="onColumnToggleClick(column.field)"></div>
                                                        </div>
                                                        <div style="float: right" @click="onColumnToggleClick(column.field)" v-text="column.name"></div>
                                                    </li>
                                                    <li class="checkbox-row" >
                                                        <div style="display: inline-block" >
                                                            <input type="checkbox" v-model="column._operate_" class="input-super">
                                                            <div class="" @click="onColumnToggleClick('_operate_')"></div>
                                                        </div>
                                                        <div style="float: right" @click="onColumnToggleClick('_operate_')">操作</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </label>
                                        <label>搜索: <input type="search" class="form-control input-sm" placeholder=""> </label>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                    <thead>

                                    <tr>
                                        <th v-show="column._index_">序号</th>
                                        <th v-for="(column, index) in columns" v-text="column.name" v-show="column.show"></th>
                                        <!--<th data-priority="1">状态</th>-->
                                        <th v-show="column._operate_">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(item,index) in items">
                                        <th v-show="column._index_" v-text="(page-1)*size+index+1"></th>
                                        <td v-for="(column, index) in columns" v-text="item[column.field]" v-show="column.show"></td>
                                        <!--<td v-text="item.statusName"></td>-->
                                        <td v-show="column._operate_" >
                                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm" @click="modalEdit(item)">编辑</a>
                                            <a href="javascript:void(0)" class="btn btn-danger btn-sm" @click="modalRemove(item)">删除</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>

                            <div class="row" th:include="component/pagination :: pagination-bar" th:with="auto=true,total='paged.totalRecord',size='size',value='page',changeSize='changeSize'"></div>

                        </div>

                    </div>
                </div>
            </div>

            <div th:replace="component/footer :: footer-bar"></div>
        </div>

    </div>

    <!-- Modal 编辑对话框-->
    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <form role="form" id="form-edit" method="post" action="javascript:void(0)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" v-text="item['${table.idColumn.fieldName}'] ? '编辑' : '添加' + '${table.remark}信息'">${table.remark}信息</h4>
                    </div>

                    <div class="modal-body">

                        <div class="row">

                            <!--列<#list table.columns as column><#if column.name != table.idColumn.name>${column.remark}列-->
                            <div class="col-md-4">
                                <div class="form-group" :class="{'validate-has-error': errors.has('edit-${column.fieldName}') }">
                                    <label class="control-label">${column.remark}</label>

                                    <!--<#if column.isStringType()>-->
                                        <!--<#if column.nullable>-->
                                    <input type="text" name="edit-${column.fieldName}" class="form-control" v-model="item.${column.fieldName}" v-validate="'required'">
                                    <span v-show="errors.has('edit-${column.fieldName}')" class="validate-has-error">必须输入${column.remark}</span>
                                        <!--<#else>-->
                                    <input type="text" name="edit-${column.fieldName}" class="form-control" v-model="item.${column.fieldName}">
                                        <!--</#if>-->
                                    <!--<#elseif column.typeJdbc?contains('INT')>-->
                                    <select class="form-control" v-model="item.${column.fieldName}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                    <script type="text/javascript">
                                        // jQuery(document).ready(function($)
                                        // {
                                        //     $("#edit-gender").selectBoxIt().on('open', function()
                                        //     {
                                        //         // Adding Custom Scrollbar
                                        //         $(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
                                        //     });
                                        // });
                                    </script>
                                    <!--<#elseif column.typeJdbc?contains('DATE')>-->
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-format="yyyy-MM-dd">
                                        <div class="input-group-addon">
                                            <a href="#"><i class="linecons-calendar"></i></a>
                                        </div>
                                    </div>
                                    <!--<#elseif column.typeJdbc?contains('TIME')>-->
                                    <div class="input-group">
                                        <input type="text" class="form-control timepicker" data-template="dropdown" data-show-seconds="true" data-default-time="11:25 AM" data-show-meridian="true" data-minute-step="5" data-second-step="5" />
                                        <div class="input-group-addon">
                                            <a href="#"><i class="linecons-clock"></i></a>
                                        </div>
                                    </div>
                                    <!--<#elseif column.typeJdbc?contains('TIMESTAMP')>-->
                                    <div class="date-and-time">
                                        <input type="text" class="form-control datepicker" data-format="yyyy-MM-dd HH:ss">
                                        <input type="text" class="form-control timepicker" data-template="dropdown" data-show-seconds="true" data-default-time="11:25 AM" data-show-meridian="true" data-minute-step="5" data-second-step="5" />
                                    </div>
                                    <!--<#else>-->
                                    <input type="text" name="edit-${column.fieldName}" class="form-control" v-model="item.${column.fieldName}">
                                    <!--</#if>-->

                                    <!--${column.typeJdbc!}-->
                                </div>
                            </div>
                            <!--</#if></#list>-->
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-blue" data-dismiss="modal" v-show="!item['${table.idColumn.fieldName}']" @click="submit(item, true)">提交并继续</button>
                        <button type="submit" class="btn btn-success" @click="submit(item)">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal 删除对话框-->
    <div class="modal fade" id="modal-remove">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Basic Modal</h4>
                </div>

                <div class="modal-body" v-text="'确定要删除【'+(item.name || item.id)+'】吗'">
                    Hello I am a Modal!
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" @click="remove(item)">删除</button>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="page-loading-overlay">-->
        <!--<div class="loader-2"></div>-->
    <!--</div>-->
</div>

<th:block th:replace="component/frame :: bottom(~{:: .bottom-script})">
    <!-- Imported scripts on this page -->
    <script class="bottom-script" th:src="@{/assets/js/jquery-ui/jquery-ui.min.js}"></script>
    <script class="bottom-script" th:src="@{/assets/js/datepicker/bootstrap-datepicker.js}"></script>
    <script class="bottom-script" th:src="@{/assets/js/timepicker/bootstrap-timepicker.min.js}"></script>
    <!--<script class="bottom-script" th:src="@{/assets/js/selectboxit/jquery.selectBoxIt.min.js}"></script>-->
    <script class="bottom-script" th:src="@{/assets/js/toastr/toastr.min.js}"></script>
</th:block>


</body>
<script>
    Vue.config.devtools = true;
    Vue.use(VeeValidate);
    new Vue({
        el: '#vue',
        data: {
            item:{},
            size: 10,
            page: 1,
            paged: {},
            items: [],
            column:{
                '_all_': true,
                '_index_': true,
                '_operate_': true
            },
            columns: [
                // <#list table.columns as column>
                {
                    show: true,
                    name: '${column.remark}',
                    field: '${column.fieldName}'
                }
                // <#if column_has_next>
                ,
                // </#if></#list>
            ]
        },
        mounted: function() {
            public_vars.$body = $(this.$el);
            if(localStorage) {
                let storage = localStorage['table-${table.urlPathName}'];
                if (storage) {
                    storage = JSON.parse(storage);
                    for (let i = 0; i < this.columns.length; i++) {
                        this.columns[i].show = storage[this.columns[i].field];
                    }
                    this.column['_all_'] = storage['_all_'];
                    this.column['_index_'] = storage['_index_'];
                    this.column['_operate_'] = storage['_operate_'];
                }
            }
            this.loading();
        },
        watch: {
            size: function (newValue, oldValue) {
                if (newValue !== oldValue) {
                    this.page = 1;
                    this.loading();
                }
            },
            page: function (newValue, oldValue) {
                if (newValue !== oldValue) {
                    this.loading();
                }
            }
        },
        methods: {
            changeSize: function(size) {
                this.size = size;
            },
            onColumnToggleClick: function(field) {
                if (field === '_all_') {
                    this.column[field] = !this.column[field];
                    for (var i = 0; i < this.columns.length; i++) {
                        this.columns[i].show = this.column[field];
                    }
                } else if (field === '_index_') {
                    this.column[field] = !this.column[field];
                } else if (field === '_operate_') {
                    this.column[field] = !this.column[field];
                } else {
                    for (var i = 0; i < this.columns.length; i++) {
                        if (field === this.columns[i].field) {
                            this.columns[i].show = !this.columns[i].show;
                            break
                        }
                    }
                }

                if(localStorage) {
                    for (var i = 0; i < this.columns.length; i++) {
                        this.column[this.columns[i].field] = this.columns[i].show
                    }
                    localStorage['table-${table.urlPathName}'] = JSON.stringify(this.column);
                }
            },
            modalAppend: function() {
                this.item = {};
                this.errors = {};
                jQuery("#modal-edit").modal('show', {backdrop: 'static'});
            },
            modalEdit: function(item) {
                this.item = JSON.parse(JSON.stringify(item));
                this.errors = {};
                jQuery("#modal-edit").modal('show', {backdrop: 'static'});
            },
            modalRemove: function(item) {
                this.item = JSON.parse(JSON.stringify(item));
                this.errors = {};
                jQuery("#modal-remove").modal('show',{backdrop: 'static'});
            },
            submit: function(item, holdOn) {
                this.item = item;
                console.log(this.errors);
                if (this.errors.items.length > 0) {
                    return false;
                }
                const vue = this;
                show_loading_bar(70); // Fill progress bar to 70% (just a given value)
                const ajax = new XMLHttpRequest();
                if(item['${table.idColumn.fieldName}']) {
                    ajax.open("PUT","/api/v1/${table.urlPathName}/" + item['${table.idColumn.fieldName}']);
                } else {
                    ajax.open("POST","/api/v1/${table.urlPathName}");
                }
                // ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                const form_data = new FormData();
                for(const key in item) {
                    form_data.append(key,item[key]);
                }
                JSON.stringify(item);
                ajax.send(form_data);
                ajax.onload = function () {
                    show_loading_bar({
                        delay: 0.5,
                        pct: 100,
                        finish: function(){
                            if (ajax.status === 200) {
                                var data = JSON.parse(ajax.responseText);
                                if (data.code === 200) {
                                    vue.loading();
                                    if(!holdOn) {
                                        jQuery("#modal-edit").modal('hide');
                                    }
                                    toastr.success(data.result, "修改成功")
                                } else {
                                    toastr.error(data.reason, "修改失败！");
                                }
                            } else {
                                toastr.error(ajax.responseText, "修改失败！");
                            }
                        }
                    });
                }
            },
            remove: function(item) {
                var vue = this;
                show_loading_bar(70); // Fill progress bar to 70% (just a given value)
                var ajax = new XMLHttpRequest();
                ajax.open("DELETE","/api/v1/${table.urlPathName}/" + item.id);
                ajax.send();
                ajax.onload = function () {
                    show_loading_bar({
                        delay: 0.5,
                        pct: 100,
                        finish: function(){
                            if (ajax.status === 200) {
                                var data = JSON.parse(ajax.responseText);
                                if (data.code === 200) {
                                    vue.loading();
                                    jQuery("#modal-remove").modal('hide');
                                    toastr.success(data.result, "删除成功")
                                } else {
                                    toastr.error(data.reason, "删除失败！");
                                }
                            } else {
                                toastr.error(ajax.responseText, "删除失败！");
                            }
                        }
                    });
                }
            },
            loading: function () {
                var vue = this;
                show_loading_bar(70); // Fill progress bar to 70% (just a given value)
                var ajax = new XMLHttpRequest();
                ajax.open("GET","/api/v1/${table.urlPathName}?page=" + (vue.page-1) + "&size=" + vue.size);
                ajax.send();
                ajax.onload = function () {
                    show_loading_bar({
                        delay: 0.5,
                        pct: 100,
                        finish: function(){
                            if (ajax.status === 200) {
                                var data = JSON.parse(ajax.responseText);
                                if (data.code === 200) {
                                    vue.paged = data.result;
                                    vue.items = data.result.list;
                                } else {
                                    toastr.error(data.reason, "获取用户数据失败！");
                                }
                            } else {
                                toastr.error(ajax.responseText, "获取用户数据失败！");
                            }
                        }
                    });
                }
            }
        }
    });
</script>
</html>